<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css" />
</head>
<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
    }
    
    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
</style>
<body>
    <h1>How on earth did you manage to break this website?</h1>
    <h2>Anyway here's a cookie</h2>
    <img src="static/cookie.png" alt="Cookie">
</body>
</html>